<br/>
<h1>Who Died Today?</h1>

<h4>Recent Obituaries:</h4>
<% if @recent_obits.present? %>
  <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date of Death</th>
        <th scope="col">Funeral Home</th>
      </tr>
    </thead>
    <tbody>
      <% @recent_obits.each do |val| %>
        <tr>
          <th scope="row"><a href="/" onclick="window.open('<%= val.link %>','name','width=975,height=600')"><%= val.name %></a></th>
          <td><%= val.dod.strftime("%m-%d-%Y") %></td>
          <td><%= val.funeral_home %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <storng>How come nobody is dying?</storng>
  <br/>
  <br/>
<% end %>

<h4>Past Obituaries:</h4>
<table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date of Death</th>
      <th scope="col">Funeral Home</th>
    </tr>
  </thead>
  <tbody>
  	<% @past_obits.each do |val| %>
	    <tr>
	      <th scope="row"><a href="/" onclick="window.open('<%= val.link %>','name','width=975,height=600')"><%= val.name %></a></th>
	      <td><%= val.dod.strftime("%m-%d-%Y") %></td>
	      <td><%= val.funeral_home %></td>
	    </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

</script>

